<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 mt-5">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3 class="text-center">Recipes</h3>
                    </li>
                    {{#each recipes}}
                    <li class="list-group-item">
                        {{this.title}}
                        <button type="button" class="btn btn-primary float-right" data-toggle="collapse" data-target="#{{this._id}}">View</button>
                        <div class="collapse" id="{{this._id}}">
                            <br>
                            <br>
                            <p>
                                <strong>Ingredients: &nbsp; </strong>{{this.ingredients}}</p>
                            <br>
                            <p>
                                <strong>Directions: &nbsp; </strong>{{this.directions}}</p>
                            <a class="btn btn-danger float-right delete-recipe" href="#" data-id="{{this._id}}">Delete</a>
                            <a class="btn btn-warning float-right edit" href="/edit/{{this._id}}">Edit</a>
                        </div>
                    </li>
                    {{/each}}
                    <li class="list-group-item">
                        <button class="btn btn-success btn-block" data-toggle="modal" data-target="#addRecipeForm">Add Recipe</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Add Recipe Form Modal -->
<div class="modal fade" id="addRecipeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/add">
                <div class="modal-header">
                    <h5 class="modal-title" id="#addRecipeFormLabel">Add Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="ingredients">Ingredients</label>
                        <input type="text" class="form-control" id="ingredients" name="ingredients">
                    </div>
                    <div class="form-group">
                        <label for="directions">Directions</label>
                        <textarea class="form-control" id="directions" name="directions"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Add Recipe</button>
                </div>
            </form>
        </div>
    </div>

    //edit recipe modal
    <div class="modal fade" id="editRecipeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="/add">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#addRecipeFormLabel">Edit Recipe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="ingredients">Ingredients</label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </div>
                        <div class="form-group">
                            <label for="directions">Directions</label>
                            <textarea class="form-control" id="directions" name="directions"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Add Recipe</button>
                    </div>
                </form>
            </div>
        </div>

    </div>